@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html, body {
  margin: auto;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
 
}
/* navbar */
.Navbar {
  background-color: #fff;
  display: flex;
  padding: 16px;
  /* padding-left: 40px;
  padding-right: 40px; */
  font-family: sans-serif;
  color: #000;
}
.Navbar li{
  list-style: none;
  color: #000;
}
.Navbar a{
  color: #000;
}
.Navbar a:hover{
  color: #000;
  text-decoration: none;
}
.Navbar li a:hover{
  border-bottom: 2px solid #43484D !important;
}

.Navbar li:hover{
  text-decoration: none;
  color: #000;
}
.Navbar__Link {
  padding-right: 8px;
}
.Navbar__Link li a:hover{
  border-bottom: 2px solid #43484D !important;
}
.Navbar__Items {
  display: flex;
}

.Navbar__Items--right {
  margin-left:auto;
}

.Navbar__Link-toggle {
  display: none;
}

/* book section */
#book{
  padding-top: 20px;
}
/* Product Description */
.product-description {
  padding-top: 40px;
  
  margin-bottom: 20px;
}
.product-description h1,h4 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: 2px;
}
.product-description h4 {
  padding-top: 7px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
  padding-bottom: 7px;
}


#about, #contact  h2{
  padding-bottom: 13px;
}
hr .line-prod{
  border: 0.7px solid #E1E8EE;
}
hr .line{
  border: 1px solid #43484D;
}
/* about */
.bio{
  padding-top: 25px;
  padding-bottom: 25px;
}
.bio-pic img{
  border-radius: 50%;
  width: 330px;
  height: 370px;
}
.bio-txt{
  font-size: 16px;
  padding-top: 120px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* contact */
#contact{
  font-size: 16px;
  font-weight: 300;
}
#contact h4{
  padding-top: 10px;
}
.adres{
  padding-top: 10px;
  line-height: 25px;
  align-items: center;
}
.short-line{
  width: 40%;
  color: #E1E8EE;
}
.s-line{
  width: 60%;
  color: #E1E8EE;
}


/* media queries */
@media only screen and (max-width: 320px) {
  .product-description{
    padding-top: 0px!important;  
  }
  #book{
    padding-top: 20px;
  }
  .prod-img img{
    width: 200px;
    height: 340px;
  }
  .bio-pic img{
    width: 220px!important;
    height: 260px;
  }
  .bio-txt{
    padding-top: 40px;
  }
}
@media only screen and (max-width: 375px) {
  .product-description{
    padding-top: 0px!important;  
  }
  .prod-img img{
    width: 250px;
    height: 400px;
  }
  .bio-pic img{
    width: 220px;
    height: 280px;
  }
  .bio-txt{
    padding-top: 40px;
  }
}
@media only screen and (max-width: 425px) {
  .product-description{
    padding-top: 0px!important;  
  }
  .prod-img img{
    width: 250px;
    height: 400px;
  }
  .bio-pic img{
    width: 220px;
    height: 280px;
  }
  .bio-txt{
    padding-top: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .product-description{
    padding-top: 0px!important;  
  }
  #book{
    padding-top: 25px!important;
  }
  .prod-img img{
    width: 150px;
    height: 300px;
  }
  .bio-pic img{
    width: 220px;
    height: 280px;
  }
  .bio-txt{
    padding-top: 20px;
  }
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
    
.Navbar__Items {
    display:none;
  }
    
.Navbar__Items--right {
    margin-left:0;
  }
    
.Navbar__ToggleShow {
    display: flex;
  }
    
.Navbar__Link-toggle {
    align-self: flex-end;
    display: initial!important;
    position: absolute;
    cursor: pointer;
   } 
}
@media only screen and (max-width: 1024px) {
  .product-description{
    padding-top: 40px!important;  
  }
  #book{
    padding-top: 50px;
  }
  .prod-img img{
    width: 300px!important;
    height: 520px!important;
  }
  .bio-pic img{
    width: 300px;
    height: 280px;
  }
  .bio-txt{
    padding-top: 40px;
  }
}